<div class="row">

    <form action="/generate-fake-posts" method="get">

        <h1>Create posts</h1>

        {{!--
        <div class="form-group"> --}}
            <input name="amount" class="form-control" type="value"> {{!-- </div> --}}


        <button type="submit">Create post</button>

    </form>
</div>